.notfound{
    display: flex;
   justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height:80vh;
}

.notfound div {
    margin-top: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.notfound div p{
    color: white;
   
    font-size: 100px;
    margin: 0px;
}

.notfound div h1{
    Color: white;
    font-size:25px;
    margin: 0px;


}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}